body {
    background-color: hsl(50, 5%, 10%);
    color: rgb(236, 250, 255);
    font-family: "Figtree", sans-serif;
}

header {
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 24px;
    border-bottom: 4px double rgb(100, 180, 180);
    color: rgb(50, 120, 120);
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    font-size: 36px;
    color: yellow;
    border: 4px dotted orange;
    padding: 20px;
    margin: 10px;
}

section {
    background: #00183b;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

img {
    height: 200px;
}