body {
    background-color: black;
    color: white;
    font-family: "Figtree", sans-serif;
}

header {
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 24px;
    background-color: gray;
    color: black;
}

h1 {
    text-align: center;
    font-size: 36px;
}