body {
    background-color: black;
    color: white;
    font-family: "Figtree", sans-serif;
}

header {
    font-weight: bold;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    font-size: 24px;
    border-bottom: 4px double rgb(100, 180, 180);
    color: rgb(50, 120, 120);
}

h1 {
    text-align: center;
    font-size: 36px;
    border: 4px dotted gray;
    padding: 20px;
    margin: 10px;
}